aiohttp==3.6.3
appdirs==1.4.4
async-timeout==3.0.1
attrs==20.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
discord.py==1.5.1
distlib==0.3.1
dnspython==2.0.0
filelock==3.0.12
idna==2.10
importlib-metadata==2.0.0
multidict==4.7.6
pymongo==3.11.0
python-dotenv==0.15.0
redis==3.5.3
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
tabulate==0.8.7
typing-extensions==3.7.4.3
Unidecode==1.1.1
urllib3==1.25.11
virtualenv==20.0.35
yarl==1.5.1
zipp==3.3.1
Flask
flask_cors
